.footer-desc{
    color: #ffff;
}

.footer-logos{
    margin-left: 5px;
    height: 20%;
    width: 20%;
    display: flex;
    align-items: center;
}

.footer-social{
    display: flex;
    align-items: center;
    height: 200px;
}